.label-A {
  background-color: #337ab7;
}

.label-A[href]:hover,
.label-A[href]:focus {
  background-color: #286090;
}

.label-B {
  background-color: #5cb85c;
}
.label-B[href]:hover,
.label-B[href]:focus {
  background-color: #449d44;
}

.label-C {
  background-color: #d9534f;
}
.label-C[href]:hover,
.label-C[href]:focus {
  background-color: #c9302c;
}